<div class="container-md p-5 text-center">
<h2 class="mt-5"><strong>退会画面</strong></h2>

<div class="pt-5">
<p>本当に退会しますか?</p>

<p>退会すると、会員登録情報や</p>
<p>これまでの購入履歴が閲覧できなくなります。</p>
<p>退会する場合は、「退会する」をクリックしてください。</p>
</div>

<div class="m-5">
<span class="mr-5"><%= link_to '退会しない', customers_path, method: :get, class: "btn btn-primary btn-sm"  %></span>
<span class="ml-5"><%= link_to '退会する', withdraw_customers_path, method: :patch, class: "btn btn-danger btn-sm" %></span></p>
</div>
</div>