<h1>退会画面</h1>

<p>本当に退会しますか?</p>

<p>本当に退会しますか退会すると、会員登録情報や</p>
<p>本当に退会しますかこれまでの購入履歴が閲覧できなくなります。</p>
<p>本当に退会しますか退会する場合は、「退会する」をクリックしてください。</p>

<%= link_to '退会しない', customers_path, method: :get  %>
<%= link_to '退会する', withdraw_customers_path, method: :patch %>
