<h1>customers#show</h1>

<h2>name</h2>
<span><%= @customer.last_name %></span><span><%= @customer.first_name %></span>

<h2>email</h2>
<%= @customer.email %>

<div>
  <th><%= link_to "Edit", customers_information_edit_path, method: :get %></th>
</div>

