<p>ようこそ、ながのCAKEへ!</p>
<p>ようこそこのサイトは、ケーキ販売のECサイトになります。</p>
<p>ようこそ会員でない方も商品の閲覧はできますが、</p>
<p>ようこそ購入には会員登録が必要になります。</p>

<p>新着商品</p>
<% @items.each do |f| %>
<%= image_tag f.image, size: "100x100" %>
<%= f.name %>
<%= f.price %>
<%end%>

<%= link_to '全ての商品を見る', items_path, method: :get %>