<h1>admin/homes#top</h1>

<h1>注文履歴</h1><table>
    <thead>
        <tr>
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
        </tr>
    </thead>
    <tbody>
      <% @order_details.each do |f| %>
        <tr>
            <td><%= link_to f.created_at, admin_order_path(f.order.id), method: :get %></td>
            <td><%= f.item.name %></td>
            <td><%= f.amount %></td>
        </tr>
     <%end%>
    </tbody>

